/* import font-google poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap');

:root {
    /* paleta de colores de background */
    --bg-primary-color: #ffd6ff;
    --bg-second-color: #bde0fe;
    --bg-color-footer: #212529;

    /* colores para texto */
    --font-color-pink: #fb6f92;
    --font-color-skyblue: #0fa3b1;
    --font-color-black: #212529;

    /* colores para botones */
    --btn-color-login: #f07167;
}
/* normalize */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* --- --- --- INDEX --- --- --- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 3rem;
}


/* NAVBAR */
.header__logo img {
    width: 6rem;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin: 0 1rem;
    text-transform: uppercase;
}
.navbar a{
    color: #212529;
}
.navbar a:hover{
    color: #0fa3b1;
    transition: .2s ease-in;
    text-decoration: underline #0fa3b1 0.3rem;
}

.navbar__button{
    padding: .45rem 1.5rem;
    border-radius: .25rem;
    background-color: #007bff;
    transition: background-color .15s ease-in-out;
}

.navbar__button:hover{
    background-color:#2d93ff;
}

.navbar__button a {
    text-transform: uppercase;
    color: #bde0fe;
    font-weight: 800;
}


/* --- --- --- INDEX --- --- --- */
main {
    box-shadow: 0 0 1.5rem #000000;
}

.main__banner {
    background-color: var(--bg-primary-color);
    height: 45vh;
    background-image: url(../img/biel-morro-bsSIk3LV_NE-unsplash.jpg);
    background-position: 50% 55%;
    background-size: cover;
}

.main__section {
    text-align: center;
    width: 60%;
    margin: 1.5rem auto 0;
    height: 36vh;
}
.main__section h1 {
    font-size: 6rem;
    color: var(--font-color-pink);
}
.main__section span {
    color: var(--font-color-black);
}
.main__section h2 {
    font-size: 1.5rem;
    color: var(--font-color-skyblue) ;
    margin-bottom: -1.5rem;
}
.main__section p {
    font-size: 1.3rem;
    margin-top: -1.2rem;
}
.main__section-button {
    margin: 1rem 0;
}
.main__section-button button {
    width: 8rem;
    margin: 1rem;
    padding: .5rem;
    border: .065rem solid #000;
    background-color: #000;
    border-radius: .250rem;
    cursor: pointer;
    transition: .3s ease;
}

.main__section-button a {
    color: #fff;
}

.main__section-button button:hover {
    box-shadow: 0 0 .7rem #000;
}


/* Footer */
.footer__all {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--bg-color-footer);
    height: auto;
}

.footer__all ul {
    display: flex;
}

.footer__all ul li {
    margin: 0 1rem;
}

.footer__all h4, h5 {
    color: #eee4e1;
    font-weight: normal;
}

.footer__all a {
    color: #fb6f92;
    transition: .2s ease-in;
}

.footer__all a:hover{
    color: #0fa3b1;
}


/* --- --- --- SERVICES --- --- --- */

.main__services {
    padding: 1rem 3rem;
    background-color: var(--bg-second-color);
}

.main__services span {
    color: var(--font-color-pink);
}

/* section services */
.services__category{
    height: auto;
    background-color: #0000002f;
    border-radius: 2rem;
}
.category__container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.services__cards {
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.services__cards img{
    width: 3rem;
    height: 3rem;
}

.services__cards h2 {
    font-size: 1.25rem;
    padding: .313rem 0;
}

.services__cards p {
    font-size: .9rem;
}

/* section faq */
.faq {
    margin: 5rem;

}
.faq h2 {
    text-align: center;
}


/* style details - summary */

details {
    padding: .6rem;
    border-radius: 0.5rem;
    background-color: #0fa3b1;
    width: 50rem;
    margin: .5rem auto;
    cursor: pointer;
}

details p {
    width: 90%;
    text-align: left;
    margin: .5rem 1.5rem;
}

summary {
    position: relative;
    font-weight: 800;
    color:#dee2ff;
}
summary::marker {
    content: none;
}
summary::before,
summary::after {
    content:'';
}

summary::before, summary::after {
    width: .75rem;
    border-bottom: .125rem solid;
    position: absolute;
    top: .7rem;
    right: .7rem;
}

summary::after {
    transform: rotate(90deg);
}

details[open] summary::after {
    transform: rotate(0deg);
}

summary::before, summary::after {
    transition: .5s;
}


/* --- --- --- CONTACT --- --- --- */

.main__contact {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "h1 h1"
    "section-location form";
    background-color: var(--bg-primary-color);
    padding: 1rem 3rem;
    height: 70vh;
}
.main__contact h1 {
    grid-area: h1;
    text-align: center;
    padding-bottom: 1.5rem;
}

.main__contact span {
    color: var(--font-color-skyblue);
}

.location {
    grid-area: section-location;
    margin: 0 auto;
}

.location iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

.form {
    grid-area: form;
    display: flex;
    justify-content: center;
}

.contact-form {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
}

.contact-form input, textarea {
    margin-top: 1rem;
    padding: .5rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.form__btn {
    text-align: center;
    width: 50%;
    margin: 1rem auto;
    padding: .375rem .75rem;
    border-radius: .25rem;
    background-color: #007bff;
    color: #fff;
    transition: background-color .15s ease-in-out;
}

.form__btn:hover {
    background-color: #0069d9;
}

/* --- --- --- ABOUT --- --- --- */
.main__about {
    background-color: var(--bg-second-color);
    padding: 1rem 3rem;
    height: 70vh;
}

.main__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.3rem;
}
.main__about p {
    text-align: center;
    margin-bottom: 1.3rem;
}

.main__about span {
    color: var(--font-color-pink);
}

.row {
    display: flex;
}

.foto-medico {
    width: 50%;
    border-radius: 10%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.container blockquote {
    margin: .5rem 0;
    width: 90%;
    text-align: center;
}

.medico {
    justify-content: space-evenly;
}

.card h5 {
    font-size: 1.5rem;
}
/* --- --- --- LOGIN --- --- --- */
.main__login, .main__signup {
    background-color: #ffd6ff;
    /* padding: 1rem 3rem; */
    height: 70vh;
    background-image: url(../img/images/background-login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pic-login {
    margin: 2rem;
    width: 25rem;
    border-radius: 2rem;
}

.section__main {
    display: flex;
    background: #54a7ff49;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}


.section__login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0069d9ee;
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    color: white;
}

.login__form {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.login__form input {
    border-radius: .3rem;
    padding: .5rem;
}
.login__form--btn{
    width: 6rem;
    margin: 1rem auto;
    border-radius: 2rem ;
    padding: .4rem;
    color: #ffcdb2;
    font-weight: 800;
    font-size: 1rem;
    background-color: #f07167;
    transition: .5s ease-in-out;
}

.login__form--btn:hover {
    width: 8rem;
    color:#ffffff;
}


/* --- --- --- SIGNUP --- --- --- */

.section__signup {
    background-color: #ddcae79c;
}

.main__signup{
    background-image: url(../img/images/background-signup.png);
}

.section--signup{
    background-color: #9d64ece8;
    height: 25rem;
    width: 25rem;
}

.form--signup{
    width: 20rem;
}

.form--accepts{
    font-size: x-small;
    margin: .9rem 0;
}

.btn {
    background-color: #9d64ec;
}

.btn:hover {
    background-color: #af7ff1;
}

.btn a {
    color: #ffffff;
}

.pic-signup{
    margin: 2rem;
    width: 35rem;
    border-radius: 2rem;
}

.btn--signup {
    width: 13rem;
    background-color: #ffc300;
    color: #77532e;
}

.btn--signup:hover {
    width: 15rem;
}


/* --- --- --- DASHBOARD --- --- --- */

.main__dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.dashboard__aside {
    display: flex;
    flex-direction: column;
    height: 66vh;
    max-width: 25%;
    padding: 1rem;
    border-right: .125rem solid #000000;
} /* cambiar el borde negro a otro color*/

.dashboard__aside h2 {
    border-bottom: .125rem solid #000000;
    margin-bottom: 5rem;
}

.dashboard__aside ul{
    margin-bottom: 2rem;
}

.aside__manu li a {
    color: var(--bg-color-footer);
}

.aside__manu li a:hover {
    text-decoration: none;
    font-weight: bold;
}

.aside__manu li a:focus {
    font-weight: bold;
}

.btn-logout {
    background-color: var(--bg-second-color);
    border-radius: 2rem;
    width: 5rem;
    height: 2rem;
    margin: 0 auto;
    transition: .5s ease-in;
}

.btn-logout a {
    color: #000000;
}

.btn-logout:hover{
    width: 7rem;
}

/* tools */
.dashboard__tools {
    display: flex;
    flex-direction: column;
    height: 66vh;
    width: 100%;
}

.tools__profile {
    flex: 0 0 10%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.tools__gestion {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

/* darle una vuelta mas de rosca */